@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
 *, *:before, *:after {
	 box-sizing: border-box;
}
 body {
	 background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
	 background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
	 background-size: cover;
	 font: 14px/20px "Lato", Arial, sans-serif;
	 color: #9e9e9e;
	 margin-top: 30px;
}
 .slide-container {
	 margin: auto;
	 width: 600px;
	 text-align: center;
}
 .wrapper {
	 padding-top: 40px;
	 padding-bottom: 40px;
}
 .wrapper:focus {
	 outline: 0;
}
 .trading-card {
	 background: white;
	 width: 300px;
	 display: inline-block;
	 margin: auto;
	 border-radius: 19px;
	 position: relative;
	 text-align: center;
	 box-shadow: -1px 15px 30px -12px black;
	 z-index: 9999;
}
 .trading-card__image {
	 position: relative;
	 height: 230px;
	 margin-bottom: 35px;
	 border-top-left-radius: 14px;
	 border-top-right-radius: 14px;
}
 .trading-card__image--tmp1 {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
 .trading-card__image--tmp1 img {
	 width: 400px;
	 position: absolute;
	 top: -65px;
	 left: -70px;
}
 .trading-card__image--tmp2 {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
 .trading-card__image--tmp2 img {
	 width: 400px;
	 position: absolute;
	 top: -34px;
	 left: -37px;
}
 .trading-card__image--tmp3 {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg');
}
 .trading-card__image--tmp3 img {
	 width: 340px;
	 position: absolute;
	 top: -30px;
	 left: -25px;
}
 .trading-card__image--tmp4 {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
}
 .trading-card__image--tmp4 img {
	 width: 370px;
	 position: absolute;
	 top: -21px;
	 left: -37px;
}
 .trading-card__image--tmp5 {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg');
}
 .trading-card__image--tmp5 img {
	 width: 345px;
	 position: absolute;
	 top: -28px;
	 left: -10px;
}
 .trading-card__level {
	 text-transform: uppercase;
	 font-size: 12px;
	 font-weight: 700;
	 margin-bottom: 3px;
}
 .trading-card__level--tmp1 {
	 color: #ec9b3b;
}
 .trading-card__level--tmp2 {
	 color: #ee5487;
}
 .trading-card__level--tmp3 {
	 color: #f6901a;
}
 .trading-card__level--tmp4 {
	 color: #82bb30;
}
 .trading-card__level--tmp5 {
	 color: #4facff;
}
 .trading-card__algorithm-name {
	 font-size: 26px;
	 color: black;
	 font-weight: 900;
	 margin-bottom: 5px;
}
 .trading-card__algorithm-description {
	 padding: 20px;
	 margin-bottom: 10px;
}
 .trading-card__algorithm-stats--tmp1 {
	 background: #ec9b3b;
}
 .trading-card__algorithm-stats--tmp1 .one-third {
	 border-right: 1px solid #bd7c2f;
}
 .trading-card__algorithm-stats--tmp2 {
	 background: #ee5487;
}
 .trading-card__algorithm-stats--tmp2 .one-third {
	 border-right: 1px solid #d04976;
}
 .trading-card__algorithm-stats--tmp3 {
	 background: #f6901a;
}
 .trading-card__algorithm-stats--tmp3 .one-third {
	 border-right: 1px solid #de7b09;
}
 .trading-card__algorithm-stats--tmp4 {
	 background: #82bb30;
}
 .trading-card__algorithm-stats--tmp4 .one-third {
	 border-right: 1px solid #71a32a;
}
 .trading-card__algorithm-stats--tmp5 {
	 background: #4facff;
}
 .trading-card__algorithm-stats--tmp5 .one-third {
	 border-right: 1px solid #309eff;
}
 .trading-card__algorithm-stats {
	 color: white;
	 font-weight: 700;
	 border-bottom-left-radius: 14px;
	 border-bottom-right-radius: 14px;
}
 .trading-card__algorithm-stats .one-third {
	 width: 33%;
	 float: left;
	 padding: 20px 15px;
}
 .trading-card__algorithm-stats sup {
	 position: absolute;
	 bottom: 4px;
	 font-size: 45%;
	 margin-left: 2px;
}
 .trading-card__algorithm-stats .stat {
	 position: relative;
	 font-size: 24px;
	 margin-bottom: 10px;
}
 .trading-card__algorithm-stats .stat-value {
	 text-transform: uppercase;
	 font-weight: 400;
	 font-size: 12px;
}
 .trading-card__algorithm-stats .no-border {
	 border-right: none;
}
 .clearfix:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
}
 .slick-prev {
	 left: 100px;
	 z-index: 999;
}
 .slick-next {
	 right: 100px;
	 z-index: 999;
}
